[2022-05-07 12:54] kali commented on #703
Hey, thanks for the report. I had to make a few fixes, but I got it to work (I think). Use the linked branch if you want to try, I will merge it ASAP.

All in one python inference (+ exported wav tensor for reuse in tract).

[code]

And the same in rust with tract (except we're reading the wav from the io.npz generated by the python script).

[code]
[code]

[2022-05-07 18:59] 7r3nzy commented on #703
Hey, this is really great, thank you so much for going extra mile. I am definitely going to try today and will let you know how it goes :).

[2022-05-07 19:38] 7r3nzy commented on #703
Works perfectly! Thanks a lot. Closing the issue, since I see you have merged the changes as well. I should mention that incorrect values issue was my own, your code helped there as well though :).

[2022-05-07 19:38] #703 closed

[2022-05-07 20:23] 7r3nzy commented on #703
Also, I am interested in converting this as an example, would you like to take a PR for this? I think that should resolve https://github.com/sonos/tract/issues/114

[2022-05-08 10:16] kali commented on #703
Please do! Indeed, it would be one answer to 114. There are other ways to do streaming (through the pulse system) but this is a perfectly valid approach.

[2022-05-10 17:40] tgolsson opened #710 "Crash in NNEF export when using Symbol in input fact shape"
Hello!

I'm trying to convert some of our stack to use NNEF as a shipped format instead of raw ONNX (for performance reasons at load time based on #393); but I'm running into a slight issue with batching. My expectation was that if I'm running `.to_typed()` I have to set input facts, and if I want to use dynamic batching that is my point to set a Symbol as the dim. However; this causes the NNEF se

[2022-05-11 07:09] kali commented on #710
Hey, thanks for the report. As you may have noticed, symbols in NNEF/tract-opl are brand new. We ourselves have about half a model working with it at this point, so it's not a big surprise you run into issues.

The NNEF/tract-opl dumping is only meant to work after decluttering, so on a TypedModel, be fore calling "codegen", and independently of a TypedPlan.

I can actually reproduce your issue wi

[2022-05-11 08:17] tgolsson commented on #710
Thank you @kali! Yeah, I meant TypedModel, not TypedPlan.

[2022-05-11 11:09] kali commented on #710
I think I have fixed it, and the fixed is merged on main. Would be nice if you can confirm.

[2022-05-11 11:29] tgolsson commented on #710
@kali It now gets path the export stage; thank you! Will continue working on loading/inferring and see if more comes up there. Thank you.

[2022-05-11 11:29] #710 closed

[2022-05-12 11:12] tgolsson opened #713 "ONNX -> NNEF changes outlet names"
Hello!

Thanks to yesterday's fix I'm now able to load and infer on NNEFs. However, we rely heavily on input and output naming to ensure we input the right arguments to the right position; and the conversion from ONNX to NNEF breaks this. It seems like the outlet in the new is a variant of the last layer in the ONNX model:

[code]

This is how I extract the output API. There's a minor difference i

[2022-05-12 11:21] kali commented on #713
Mmm. It was my intention to preserve the original name as much as possible, for graph interface (and as much as practical for internal nodes), so I think I want to call this a bug, hoping I'm not opening a terrible pandora box. Would you be able to produce a test case model for this issue ?

[2022-05-12 11:36] tgolsson commented on #713
I can't upload the file to the issue but if you shoot me a mail (tom.solberg@embark-studios.com) I can mail you one.

[2022-05-12 12:24] kali commented on #713
pushed a tentative fix, tell me if it's enough.

[2022-05-12 12:38] tgolsson commented on #713
@kali Just about to go OOO for rest of day; will test tomorrow morning!

[2022-05-13 07:32] tgolsson commented on #713
@kali Tested and looks to be correct! Thanks again for the quick turn around.

[2022-05-13 07:38] kali commented on #713
Thanks. I can not merge as is, I need to investigate a side regression, but should be happen soon.

[2022-05-13 11:30] #713 closed

[2022-05-17 14:06] tgolsson opened #718 "NNEF conversion fails when reshape depends on Batch Dimension"
When attempting to convert a model from https://github.com/Lednik7/CLIP-ONNX I get the following error:

[code]

If I fix the dimension (`-i 1,3,224,224,f32`) it works fine. Looking in the output when it succeeds, this is the offending op:

[code]

Where I specialized for N=7, and the *second* dimension of the reshape depends on the batch size. (7 * 12 = 84).

The files are huge but should be able

[2022-05-17 21:59] tgolsson commented on #718
This seems to occur when calling `to_typed()` on the model specifically, unrelated to NNEF conversion.

[2022-05-20 14:44] kali commented on #718
Hey, thanks for the report.

So what we encountered is a reshape from: `50,N,12,64` to `50,12N,64` ?

hint: `dump --io-long` will show all input and outputs types for all operators...

[2022-05-21 09:06] kali commented on #718
Yeah, had a look at it, I think I will need the model. You know how to reach me.

[2022-05-23 14:36] tgolsson commented on #718
Hey, shared the model with you over Drive since it's quite big. I included another model  (`text.onnx`) which also fails to convert and does similar permutes, but the error message is about inplace uniforms. The input fact used there is `-i N,77,i32`. Not sure if related, or if you want me to open a separate issue for that.

[2022-05-24 07:49] kali commented on #718
I'll have a look later this week, things are a bit hectic over there. Don't create a separate issue, it's probably the same thing, or in the same vicinity.

[2022-05-28 08:29] guillaume-be commented on #533
Hello @kali ,

Thank you for looking into this and proposing this fix, and apologies for not getting back to you earlier. I have tested the code given in this issue again and I am still facing the same error - is this an issue on my end?

[2022-05-28 09:19] kali commented on #533
Damn. Just had a quick look at your code, can you try calling into_optimized() before into_runnable() ? Because I'm pretty sure I checked it was working. If that's not it, I'll re-setup the test case.

[2022-05-28 10:03] kali commented on #718
Made some progresses, but there are multiple issues. See branch fixes-for-718 if you're curious.

[2022-05-28 10:08] guillaume-be commented on #533
This may be because I generated the model again using updated utilities from Huggingface:
`python -m transformers.onnx --model=distilbert-base-uncased-finetuned-sst-2-english --feature=sequence-classification distilbert-sst-onnx`

I then created and tested an optimized version of this model with
[code]

I have uploaded both files for your reference: [non-optimized](https://drive.google.com/file/d/

[2022-05-28 10:14] kali commented on #533
Hey, we have a Albert example here that worked a few months ago. https://github.com/sonos/tract/tree/main/examples/pytorch-albert-v2

`EmbedLayerNormalization` ? I can find it in ONNX operators list (see https://github.com/onnx/onnx/blob/main/docs/Operators.md ) , so I'm not sure what is happening there.

[2022-05-28 11:19] kali commented on #718
Think I got it. Three different issues stacked on top of each other here, just for this model, so... I guess you're pushing the enveloppe pretty hard. Thanks for your patience :)

[2022-05-29 09:02] guillaume-be commented on #533
Hello @kali ,

I believe this may be because the optimization is done using `onnxruntime` (see https://github.com/microsoft/onnxruntime/blob/master/docs/ContribOperators.md#com.microsoft.EmbedLayerNormalization).   Changing the optimization level before serializing the model, I now see both the optimized and non-optimized models exhibiting the same behaviour:
[code]

I cannot find this `StridedSli

[2022-05-29 09:27] kali commented on #533
Ok, so it looks like Microsoft is doing the old IE CSS trick again, adding stuff to a standard as a way to lock people in. That's just great. And there are quite a bunch of them too. Obviously I can not support all these com.microsoft operators right away, so please no optimizing using onnxruntime for now.

The StridedSlice is basically the Slice operator from onnx (the name comes from tensorflow)

[2022-05-29 12:00] #533 closed

[2022-06-02 23:11] SludgePhD opened #729 ""Making patch for AxisChange" error when loading network"
[pose_landmark_lite.onnx.zip](https://github.com/sonos/tract/files/8828274/pose_landmark_lite.onnx.zip)

This network passes ONNX validation and is fully inferred, but loading it with tract results in an error:

[code]

Sadly the message is a bit nondescript, but it mentions the name of the `Conv` node in this part of the network (via https://netron.app/):

![screenshot_2022-06-03_01:04:36](https:

[2022-06-03 11:13] kali commented on #639
#731 provides support for Einsum. Optimisation still pending, so better not try to use it as the an general purpose affine operator at this stage.

[2022-06-03 15:56] francoisWeber opened #732 "Possible wrong computations while outputing a probability vector"
Hi there,

TL;DR: I noticed a wrong computation while outputing a prediction probability vector for a classification tree

Disclaimer: I'm new to Rust.
I tried to re-use a snippet of Tract to make inference from on ONNX file thats embeds a simple binary classification tree. The output of the model is:
- the predicted class
- the probability vector of being in class 0 or 1

The model comes from [sk

[2022-06-04 09:19] kali commented on #729
Thanks for the report, it was a bug in tract. This is why the message is a bit puzzling... there is no good reason for it to show up to somebody just using tract.

Merging as soon as the CI is happy.

[2022-06-04 10:46] kali commented on #732
@francoisWeber thanks for the report. This does look like a bug.

I tried to run the python pseudo-training script, but could not manage to get the right versions of some dependencies.

Can you please provide me the `.onnx` model plus the input and expected output of the model as a `.npz` file as shown in https://github.com/sonos/tract/blob/main/doc/cli-recipe.md#running-a-test-case ? You need to

[2022-06-04 14:32] SludgePhD commented on #729
Great, that seems to have fixed it! Thanks a lot!

[2022-06-04 14:32] #729 closed

[2022-06-06 12:06] francoisWeber commented on #732
Hi @kali
Here is the [dummy_tree.onnx.zip](https://github.com/sonos/tract/files/8844245/dummy_tree.onnx.zip) file (sorry I had to zip it to make Git happy ...). I also generated a [io.npz.zip](https://github.com/sonos/tract/files/8844253/io.npz.zip) as described in your tutorial. With these two assets, the output of the command `tract -v --input-bundle onnx_runner/assets/io.npz onnx_runner/assets/

[2022-06-06 17:34] kali commented on #732
Thanks. I took a dive inside ONNX runtime code to see what they are doing, and... wow, that's not nice. They are doing a lot of post-processing, specifically tailored for the "binary" case (when there are two categories), while the higher categories number are more or less left alone. ONNX documentation does not describe this, so I don't know what tract is supposed to do. I could try and mimick ON

[2022-06-07 08:15] francoisWeber commented on #732
If you are talking about my `.onnx`, then yes : it comes from a SciKitLearn `sklearn.tree.DecisionTreeClassifier` converted to ONNX through `sklearn-onnx` which is part of the official ONNX framework: https://onnx.ai/sklearn-onnx/ .

Does the binary-tailored post-processing you're talking about refer to the computation of the complimentary probability in the binary case ? 'cause it's only tractabl

[2022-06-08 14:27] kali commented on #732
Hey @francoisWeber, I did... something on #734, branch name  is`fix-732`. Do you want to check that it gives the results as you are expecting them ?

[2022-06-08 15:14] kali commented on #732
@francoisWeber thanks for checking it out. I will have to be cautious in merging, because it's a breaking change... I need to look around/think what other breaking changes I need to pass.

[2022-06-13 13:28] #732 closed, assigned to nobody

[2022-06-13 13:29] kali commented on #718
@tgolsson did you get a chance to check on that one ? You've been pretty busy I guess, but...

[2022-06-14 11:27] kali commented on #718
Yeah, please make it a PR, I'll point you in the right direction or take it from there.

[2022-06-14 13:32] #718 closed

[2022-06-14 14:03] tgolsson opened #742 "Input fact propagation wonky for NNEF"
Maybe I was a bit too quick to close #718 as it seems to still have some issues when running depending on exact flags I pass.

I'll post these in one go as I think they're related; but we'll see.

As a base; I'm using the `image.nnef.tar` we can now generate. I'm using the following base command line:

[code]

This always works with `dump` (except when passing `--profile`), but fails `run` with th

[2022-06-14 14:10] kali commented on #742
`override-fact` is a dirty hack to override a fact in the case of inconsistent models (I have seen a couple where input and output are tagged with different batch size). I think I always used it on output facts :) So it is not supposed to propagate these changes.

There is no way in the current state of affair to "reflow" over the graph and recompute the shapes. It is something that we may want to

[2022-06-14 14:13] kali commented on #742
Also if you run on actual input, the size should just induce the `N` value... Not sure what the --set brings to the table actually. Maybe for random inputs ?

[2022-06-14 14:14] tgolsson commented on #742
Wouldn't `-i input:1,3,224,224,f32 --allow-random-input` solve that? I can try running from a numpy file just to be sure.

[2022-06-14 14:17] kali commented on #742
Mmmm... I was thinking... you optimise the network with N, `-i input:N,3,224,224,f32 -O --allow-random-input` and then you want to profile it on random input for N=1 (or any other N value). But the `--set` is on `run` not on dump... so not sure there is a way to achieve this.

[2022-06-14 14:20] tgolsson commented on #742
Good point, yeah, optimizing for `N` does work! But as you say then I can't run.

[2022-06-15 07:36] kali commented on #742
Lol. Well, the cli has grown organically to meet what I needed to make tract-the-library development easier. So yeah, no surprise it's not consistent.

Being consistent betweean ONNX/TF and NNEF is pretty difficult. For instance, TF more or less never includes input shape info, ONNX can and does maybe half of the time. So we need `-i` for these. NNEF have them all the time so we should not need `-

[2022-06-15 10:47] tgolsson commented on #742
Yeah; the difference between NNEF and ONNX was a bit of pain and cervo and lead to lots of duplication (essentially all APIs come in both "from_model" and "from_typed". I understand that capturing that workflow difference in a CLI is even harder since well, more PEBKAC. :P Jokes aside, I think having the CLI tell me that I'm giving it gibberish for a NNEF would be a helpful start :P

I unfortunate

[2022-06-15 12:03] cchudant opened #743 "Resize operator output"
Hello!
I have some trouble with the ONNX Resize operator.

Short list:
- Does not support mode: nearest & nearest_modes like floor, ceil, round_prefer_ceil, round_prefer_floor (Fixed by #723)
- Does not support coordinate_transformation_mode: pytorch_half_pixel
- If one of the output dimension is < than the input dimension, it won't resize on that axis (this is the reason msot of the onnx tests do

[2022-06-15 12:18] kali commented on #743
Yeah, Resize is typically an operator for which we ourselves have very little interest, so we welcome contribution on it.

I am aware of the limitations. I took an axis-per-axis approach that simplifies code a bit but requires two passes. I only looked at the growing case, not the shrinking case. And I only implemented a handful of the various possible combination.

I have not looked at all at the

[2022-06-15 12:40] cchudant commented on #743
Cool!
By refactor I did not mean heavy refactoring, just changing how inference_rules, output_facts are done, moving stuff to opl, and yes, probably redo the evaluation part.

I haven't really thought about how to do Resize without looping on every axes like this yet, but it shouldn't be too hard.

[2022-06-23 21:59] nathanbabcock opened #750 "failed to decode Protobuf message: GraphDef.node: invalid wire type: Varint (expected LengthDelimited)"
I am running the same saved model in the full Rust `tensorflow` crate, and it loads and works perfectly. Loading it in `tract-tensorflow` gives this error:

[code]

Does this indicate Tract is not compatible or up to date with the version of SavedModel that I'm using?

[2022-06-24 08:34] kali commented on #750
tract accepts TF1 "frozen" models, not the more recent saved model format. Support for ONNX is much better: It may be easier to translate the TF saved model to ONNX, then load the ONNX model in tract.

[2022-06-24 13:12] nathanbabcock commented on #750
Thank you, this is really good to know! I'll try ONNX instead.

[2022-06-24 13:12] #750 closed

[2022-07-03 15:14] guillaume-be opened #752 "Tensor data preparation"
Hello,

I am trying to load a model and am unsure how to prepare the input in order to pass it to a model. I tried referring to the batched example provided in https://github.com/sonos/tract/blob/main/examples/onnx-mobilenet-v2-batch/src/main.rs but was not able to have a solution running. Below is a minimal example causing issues:

[code]
I am then facing the error:
[code]

Is there an additional

[2022-07-03 16:53] kali commented on #752
The problem is on the input_ids. From the look of it it is an Array of [i64;8], and you need an Array of i64. I thing from_shape_vec does not do what you think it does :) look at arr2 maybe (or even tract `tensor2`).

[2022-07-04 19:34] guillaume-be commented on #752
Thank you for the quick feedback! I was originally trying to use `arr2`/`tensor2` but was facing issues because of the trait not being implemented:
[code]

[2022-07-05 09:37] kali commented on #752
This is because 34 is tool long for the trait initializer. OK. from_shape_vec assumes that all your items are in a single vector, so you would need to flatten the nested structure you have been using (giving the function a single flat `Vec<i64>`, instead of a `Vec<[i64; 8]>`. So `into_iter().flat_map(|v| v.into_iter()).collect()` should work.

Alternatively, you can also try from_shape_fn()

[2022-07-07 00:31] yuanyan3060 opened #755 "Slow onnx inference"
Running the ch_PP-OCRv3_det_infer ONNX model 100 times using tract-onnx takes ~13.5 seconds on my machine. Running the same model using the Microsoft ONNX runtime in rust bind takes ~2.5 seconds.

tract-onnx (0.17.1-pre) code
[code]

onnxruntime-rs code
[code]
[model_and_test_image.zip](https://github.com/sonos/tract/files/9059369/model_and_test_image.zip)

[2022-07-07 07:30] kali commented on #755
Here is a breakdown between ops for this network on my PC (total time is 105ms/i).

[code]

`Resize` is clearly the dominating issue. @cchudant mentionned wanting to work on this op a few weeks ago, I'm not sure how far he got...

[2022-07-07 09:54] tgolsson commented on #755
:warning: On top of what @kali noted, The onnxruntime bindings are a bit buggy and setting number of threads doesn't limit all types of parallelism in all situations. You may need to set OpenMP env vars, and there's an intra-op parallelism setting that's not exposed. I'd suggest doing your benchmarks in a docker container limited to a single thread to force it to run in a single thread.

[2022-07-10 08:18] guillaume-be commented on #752
Thank you @kali , flattening the vector helps getting past the compilation error. I am now unfortunately faced with a runtime error. The updated code I am attempting to run is:

<details>
  <summary>Rust version</summary>

[code]

</details>

with error:
[code]

The model works fine in Python/ONNX. I am uploading it for reference at https://drive.google.com/file/d/19Rnzp6hT477T307tEX6TPdJliJi1ZJhT

[2022-07-10 11:07] kali commented on #752
Thanks for the detailed report, I will have a look.

[2022-07-11 08:50] tgolsson opened #758 "Next release timeline?"
Hello!

We've narrowed down a significant memory leak in our ML tooling to the fix in e515158842cdc6cb9341481a325ea3cbe9e38bd3. I'm wondering if you have any plans for when the next release will happen; in case I can avoid running a git patch.

Thanks!

[2022-07-11 09:32] kali commented on #758
Will do one today or tomorrow.

[2022-07-11 09:53] tgolsson commented on #758
Thank you!

[2022-07-11 11:23] kali commented on #758
Done!

[2022-07-11 11:23] #758 closed

[2022-07-11 11:23] kali commented on #752
I think #757 should fix the last issue. I've just cut a 0.17.1 with the fix.

[2022-07-11 16:21] tgolsson opened #763 "Error compiling `fullfp16` kernels on Mac arm64"
Heyo!

Upon upgrading tract to 0.17.1 our CI goes boom when building the fp16 kernels on M1 with the following error:

[code]

This occurs both when building tract, and when compiling the kernel manually with both clang13 and clang14. My current working assumption is that there's a missing or incorrect flag; but I can't coax clang14 to even admit there's a feature called `fullfp16`, though `llc-14

[2022-07-11 17:08] kali commented on #763
I'm pondering doing a CI cross build for Apple silicon too.

[2022-07-11 17:08] kali commented on #763
And will redo a release too.

[2022-07-11 17:18] tgolsson commented on #763
Thanks!

I had a look at that branch setup but I couldn't get other `-mcpu` values to compile (e.g. `-mcpu apple-m1`). Does that change "fix it" by just delegating the check to runtime for clang targets? Is the implication that clang just is broken for cpu features for apple-m1?

[2022-07-11 18:07] kali commented on #763
I just think clang needs a nudge in the right direction to accept extensions (fullfp16 is armv8.2, not armv8). gcc is happy with just the mention https://github.com/sonos/tract/blob/main/linalg/arm64/arm64fp16/arm64fp16_mmm_f16_16x8_core.tmpl#L26.

This is not breaking anything in tract here, this is assembly, it gets translated or it does not...

What /is/ broken, IIRC, is https://docs.rs/cc/late

[2022-07-12 11:07] kali commented on #763
FYI 0.17.2 done

[2022-07-12 14:53] tgolsson commented on #763
Yepp, upgraded with success now! Thanks a lot for quick turnaround.

FWIW re the mcpu mystery; seems like setting `-mcpu=apple-m1` inside the build.rs does work; but overriding it on the command line from a failing build doesn't work. I'm guessing there's some env setup that I don't get  when running manually. I guess it doesn't really matter for the kernels as long as ISAs are forward-compatible

[2022-07-12 14:53] #763 closed

[2022-07-12 15:06] kali opened #765 "Investigate M1 support for f16."
M1 seems to be armv8.5. So fp16 should be there and should be activated.

[2022-07-16 11:05] jinfagang commented on #765
Same proposal here.

[2022-07-16 11:06] jinfagang opened #768 "Does tract using SIMD instructions to accelerate compute?"
If so, how? How to using SIMD instructions in rust?

[2022-07-16 12:01] kali commented on #765
Feel free to try the linked branch. Should work, but I still want to see what I can achieve wrt CI.

[2022-07-16 13:54] jinfagang commented on #765
@kali awesome. BTW, it looks like tract use arm instrinces SIMD to do massive vector compute, then just wonder how's the exactly efficiency compared with some C++ infer lib such as ORT, mnn, ncnn etc. (I mainly focus on CV scenarios, like mobilenetv2, shufflenetv2 etc)

[2022-07-16 14:16] kali commented on #768
tract-linalg features hand-crafted assembly code for matrix multiplication and the common activation functions, targetting arm32, arm64 and intel.

To answer the more general question, beyond assembly, external and inline, rust also has intrinsics for this platforms. Also nightly has a portable-simd feature (which then relies on LLVM for translation to proper machine code).

[2022-07-16 14:16] #768 closed

[2022-07-17 08:36] guillaume-be commented on #752
Thank you @kali ,

Is there a change with compiler dependencies requirements?? I am faced with
`error: failed to run custom build command for prost-build v0.10.4` at compile time:
[code]

[2022-07-17 10:08] kali commented on #752
I don't know :) This is in `prost-build` build, maybe they change something ? tract windows CI is still in the green. I guess you need either protoc pre-installed or cmake so that the crate can be compiled.

[2022-07-19 12:39] #755 closed

[2022-07-19 18:19] #765 closed

[2022-07-21 13:08] kali commented on #742
@tgolsson I think #771 may address most of these concerns. It moves shape overrides very earlier on, changing the nnef AST before we build the model. Tell me what you think.

[2022-07-21 13:12] tgolsson commented on #742
@kali Awesome! I'll see if I can find some time to update and try it out this week or early next week!

[2022-08-02 06:47] vessd opened #777 "thread 'main' panicked at 'no entry found for key'"
I created a model using `TensorFlow 2`, converted it to `ONNX` and trying to run it.
`python -m tf2onnx.convert --saved-model tensorflow-model-path --output model.onnx`
[code]
The code crashes with an error that I don't understand, but this topic is new to me, and maybe I'm doing something wrong.

[code]

[2022-08-02 10:15] kali commented on #777
Can you share the .onnx file somehow ? Whatever is causing the error, the reporting is subpar.

[2022-08-02 10:16] kali commented on #752
@guillaume-be are you ok with closing this ?

[2022-08-02 10:17] kali commented on #742
Are we happy with the current solution ? Should we close this one ?

[2022-08-02 10:24] tgolsson commented on #742
Sorry, I never got around to trying! Will do so immediately!

[2022-08-02 10:32] tgolsson commented on #742
@kali Any immediate diagnostic?

[code]

[2022-08-02 10:48] vessd commented on #777
I figured it out. I need to pass a vector of 3 elements to the input. If I pass less, then the error occurs.
Perhaps you should add a check for the length of the input.

[2022-08-02 10:48] #777 closed

[2022-08-02 11:17] tgolsson commented on #755
@mbrunel Yes; in one sense. If you use that in main before any threadpools are created it'll ensure all threads created will run on core 0 if those threads are created via `pthread_create`. No guarantees on other methods.

However; if you're then in a situation where you've got multiple threads running on that single core you'll end up with worse performance than single-threaded. This'll be caused

[2022-08-02 13:58] kali commented on #742
mmm... maybe try `--input-node input -input 1,3,...` ?

[2022-08-02 14:52] tgolsson commented on #742
Same result.  I'll sync down the code tomorrow and see what inv.id is, might have some hints.

[2022-08-03 11:24] tgolsson commented on #742
[code]

That looks like it's coming from inside tract-nnef, and only in one location. Should that OP be renamed or should the input checker handle both possibilities?

[2022-08-03 15:16] kali commented on #742
The assert is overzealous. We need to distinguish the two kind of Source: "external" is a strict nnef-compatible source, while "tract_core_external" adds support for symbolic dimensions.

So the assert should just accept both. Please tell me if this is not enough to fix.

[2022-08-03 15:40] tgolsson commented on #742
Getting further (with some additional changes...) but it looks like concretization still isn't getting far enough:

[code]

[2022-08-03 15:47] kali commented on #742
All right, thanks for giving it a shot, I guess I'll take a look. Is this model one you've already shared with me ?

[2022-08-03 15:50] tgolsson commented on #742
Indeed! Made a PR with the other small touchups I did.

[2022-08-05 09:50] kali commented on #742
OK... Not sure I chose the right way to fix. Trying to recap here. Our model NNEF starts with these lines:

[code]

Here we have two independent reference to N: one in the `input` that the recent AST hack and fixes gives us the opportunity to override, one at `ConstantOfShape_25`. They have to agree when we get at `Concat_27`.

Now, in this case, the check happens while we translate the model from

[2022-08-06 08:23] guillaume-be commented on #752
Thank you @kali - yes this can be closed. I don't want to impose `cmake` to consumer of my projects, so I will probably wait for the changes to `prost` to make their way to this project. Thank you for the update!

[2022-08-06 08:23] #752 closed

[2022-08-06 10:46] kali commented on #742
I think I get it to work (there was a hard-to-track bug in Concat...) This new global --set is performed right after decluttering.

So ```cargo run --bin tract --features tract-core/paranoid_assertions -- image.nnef.tar --nnef-tract-core --nnef-tract-onnx --allow-random-input -vvv --set N=1  -O dump --profile --cost``` works.

[2022-08-12 10:57] kali opened #787 "AVX512F optimized matrix multiplication"
Hey @tgolsson!

The AVX512F question is back on the radar with another team evaluating performance on this architecture. IIRC, you have already done the heavy lifting on this front, with decent results. Would it be possible to put these kernels back in play? I can help with finalizing integration myself, but would hate to duplicate what you've already done...

Thanks a lot.

[2022-08-12 13:01] tgolsson commented on #787
Hey! Yeah I'd done a bunch of work, some kernels... I'll try to clean it up and push. It's not in a shippable state but will happily contribute what I've done. :) I'll either do it later today or most likely during the weekend/Monday.

[2022-08-16 13:37] Rikorose opened #792 "Broadcasting in einsum"
So I have this einsum operator that broadcasts the second parameter (self.weight) to be able to compute the expression.

[code]

This results in the following error:
[code]

Ideally this can also be written as
[code]
See #791

[2022-08-16 19:17] VZout opened #794 "`tract-onnx` failed to compile on MacOS (M1)"
I'm getting the following error in a empty project that just adds `tract-onnx` 0.17.4 as a dependency on my M1 laptop (MacOS Monterey):

[code]

Any ideas what could cause this and possible solutions?

[2022-08-16 19:35] gbaranski opened #795 "Does batch actually improve performance?"
Hi, I've been trying to optimise my model, or more specifically optimise usage of it in my Rust code.

And I thought that using batch should improve the performance, but it didn't, here are some results.

Running all predictions independently: 6200-6500ms
Running all predictions using batch: 7800-7900ms

Results were based on 55 images, i.e 55 predictions.

Did I do something wrong, or it's just n

[2022-08-16 19:58] VZout commented on #794
Just needed to upgrade protobuf

[2022-08-16 19:58] #794 closed

[2022-08-17 07:33] kali commented on #795
Hello, thanks for your interest in tract.

It always depends on the model, but indeed, batch should rarely slower than simple iteration. For image models, the gain could be marginal, but it should not get worse.

If you want to dig deeper, next step is to use tract command line to run profile of a single image pass and a batch pass to get some insights. Assuming your model is an image classifier,

[2022-08-17 09:50] kali commented on #792
We don't have pulsification for EinSum yet. It is not necessarily super-hard to do, so I can have a look, but it would help if you could make a test case (I think you were on the way to do this when you hit 791).

[2022-09-06 16:36] benmkw commented on #393
Could this issue be reopened?

Additionally to the mentioned portability and perf and size improvements I also think that the API could be strongly typed when a specific onnx file is specified which would make running the model more robust against user errors.

A possible data point for performance is NN512 https://jonatron.github.io/test_nn512/ which seems promising.

I was wondering what is the

[2022-09-20 06:33] repi opened #810 "Replace unmaintained `mapr` fork with `memmap2` (RUSTSEC-2022-0053)"
That fork has been merged into `memmap2` and an "Unmaintained" advisory been filed on it. Likely is quite easy to replace

See https://rustsec.org/advisories/RUSTSEC-2022-0053 for more info.

[2022-09-22 09:59] kali opened #813 "erf in nnef"
Move current impl from onnx-opl to core, change NNEF bindings.

[2022-09-22 11:01] CharlieBickerton opened #814 "TTS model support"
Hey @kali , have you or anyone you know deployed TTS models (e.g. fastspeech2) using tract?

[2022-09-22 11:10] kali commented on #814
Hello, not that I know of. I would be happy to get some feedback if you give it a shot.

[2022-09-22 11:11] #814 closed, assigned to nobody

[2022-09-24 15:16] repi commented on #810
fixed in #818, thanks!

[2022-09-24 15:16] #810 closed

[2022-09-30 02:30] zbloss opened #821 "Running within actix-web"
Does anyone know if it's possible to serve tract onnx models via an async web framework like actix-web?

I love the flexibility of this project in being able to serve onnx models trained in python. Being able to serve them in a blazing fast web service would be major icing on the cake.

[2022-09-30 06:31] #821 closed

[2022-10-07 11:23] tgolsson commented on #742
Hey @kali

I think this is still not 100% working as intended. It does still work for `image.nnef.tar`, but I tried it on the other file I've sent you (`text.nnef.tar`), and that crashes as soon as it starts running:

[code]

Running the same network as ONNX crashes during inference instead:

[code]

[2022-10-07 13:47] tgolsson opened #830 "Bad performance in LirMatmulUnary with maybe unexpected loop"
Hello again!

As usual, this is something I'm investigating already but want to open up for input. I've been debugging a text model (transformer) over the last few days, trying to figure out why Tract is so much slower than ORT for it (6x at no-batching, 2x at 1x). This is the same funky model that has the batch-dimension in the second position - ripe for issues. I've narrowed it down to likely be

[2022-10-07 19:20] tgolsson commented on #830
In this code here:

https://github.com/sonos/tract/blob/main/core/src/ops/matmul/lir_unary.rs#L229-L239

I wonder if the whole loop is meaningless there when the loop is over the outermost variable. The memory layout (assuming tensors are C-contiguous) is with the iteration variable at the largest stride... which is what it'd have if we just merged the two outer dims (=reshape, vstack,...). A simp

[2022-10-07 19:46] tgolsson commented on #830
Doing this transform in Python seems to check out in tests; and offers some decent performance boosts:
[code]

[code]

This is the same machine, same script, same minor version of numpy... so much bigger impact on Windows, but good savings on both. This is with the dims I'm seeing in this specific network, obviously.

[2022-10-08 09:13] kali commented on #830
Hey @tgolsson, could you give me this model ? I have a couple of ideas about what is at play here. We are also doing a relatively heavy refactoring of the MatMul ops to get closer to EinSum operator. The idea is to lift some constraints on the axes ordering that should ultimately unlock more optimum execution plans. For instance, affecting n to some contiguous axis in B, and iterate over the rest,

[2022-10-08 09:14] kali commented on #742
Did you really sent me this model ? :)

[2022-10-08 11:46] tgolsson commented on #742
The ONNX variant - I can send it to you in NNEF format if you want as well. But the .tar.gz I sent you for the batch size investigation contained an image.onnx and a text.onnx.

[2022-10-09 08:12] kali commented on #742
Found them. So I can at least right now clarify what happens with text.onnx.
Now we are (somewhat) correctly reading symbols from models. The error you get is a conflict between a forced input dimension to 1 (from cli or from API) and the output shape of the network which still contain a symbol.

So now we can load the model like this (old school, overriding symbol values or ignoring them):

`trac

[2022-10-09 08:46] kali commented on #742
Ok, this panic is just due to the fact that we are trying to access a tensor by index with a value bigger than the axis dimension. This is pretty common with text models (numbers up to some boundary used to represented the vocabulary, so inputs with values higer than the boundary are invalid). Replaced the panic by a regular error.

Can you tell me what are the assumptions on the input of the `tex

[2022-10-09 10:11] kali commented on #742
The more the merrier... new command line argument: --random-range

`cargo run -p tract -- text.onnx --set b=1 -O  run --const --allow-random-input --random-range 1.0..1000.0`

So this works for me. Do we have anything else here before looking at the matmul performance thing ?

[2022-10-09 10:12] kali commented on #742
See #831

[2022-10-09 10:22] tgolsson commented on #742
Ah, duh! Yes, the input to this model is some tokenized input so word->index at some previous stage outside the network. I guess the 49408 is the vocab size or something like that, as you say. Not my domain normally, I'm just interested in running it. :P The --random-range sounds great!

[2022-10-09 10:27] tgolsson commented on #830
This is the same model as in the other one; `text.{onnx,nnef.tar}`. That sounds like a good refactor, do you have a timeline for it? I realize my track record for timely PRs isn't great (I'll get around to it *someday*, I swear); but simplifying this "outer loop" seems easy enough here.

[2022-10-09 10:29] kali commented on #742
All right, I'm very happy to close this one :)

[2022-10-09 10:29] #742 closed

[2022-10-10 07:18] kali commented on #830
Merging axis to get a more favorable `n` (or `m`) count is indeed possible. I'm just a bit concerned about the possible interaction with the fusing of operators. This code is not... super clean even for tract standards. Basically, linalg will not be able to run fused operators that depends on geometry (like AddRow/Col) if we merge axis to get a bigger M (or resp N).

We have sevaral ways to go her

[2022-10-10 17:00] stellanhaglund opened #832 "onnx-mobilenet-v2 example not working"
Example not working, getting.

[code]

[2022-10-10 17:23] kali commented on #832
Thanks for reporting this. It's an unfortunate consequence of a fix we did a couple of weeks ago. Will fix it ASAP.

[2022-10-10 18:04] stellanhaglund commented on #832
Thats nice!

Not sure if its related but I also got an error with v2-12 about clip, not
sure if that is related or if that version isn’t supported?

mån 10 okt. 2022 kl. 19:24 skrev Mathieu Poumeyrol ***@***.***

[2022-10-11 06:24] kali opened #834 "Mobilenet v2-12 not working (Clip ?)"
Not sure if its related but I also got an error with v2-12 about clip, not
sure if that is related or if that version isn’t supported?

_Originally posted by @stellanhaglund in https://github.com/sonos/tract/issues/832#issuecomment-1273654544_

[2022-10-11 06:24] kali commented on #832
Will handle 2.12 problem separately.

[2022-10-11 06:24] #832 closed

[2022-10-11 06:29] kali commented on #834
Spec says min and max must be scalar tensors.

https://github.com/onnx/onnx/blob/main/docs/Changelog.md#Clip-13

[code]

Network is not compliant, these min and max are vectors or len 1, not scalar. *sigh*. I will relax the constraints in tract.

[2022-10-11 12:09] stellanhaglund opened #837 "Question about performance"
Maybe I'm not interpreting it correctly but when I time the example of mobilenet example it seems that it takes more than 4 seconds to run one image through the network.

Feels like that is a bit slow isn't it?

[2022-10-11 12:12] stellanhaglund commented on #837
tried --release and it was 150ms 😀
Sorry about that

[2022-10-11 12:12] #837 closed

[2022-10-11 12:59] #834 closed

[2022-10-23 13:07] guyoung opened #842 "memmap2 Cannot run under wasm32-wasi"
tract/onnx/src/model.rs

`
  fn proto_model_for_path(&self, p: impl AsRef<path::Path>) -> TractResult<pb::ModelProto> {
        let map = unsafe { memmap2::Mmap::map(&fs::File::open(p)?)? };
        Ok(crate::pb::ModelProto::decode(&*map)?)
    }
`

[2022-10-23 17:54] kali commented on #842
This is supposed to be fine, as memmap2 implements stubs for platforms that do not have mmap.

I've added wasm32-wasi in the CI here, and tract-onnx builds. https://github.com/sonos/tract/pull/843

Do you really get an error here ?

[2022-10-24 17:14] mbrunel opened #845 "Unnecessary copy of inputs"
Hello,

In the run method of Simpleplan, the inputs parameter is a TVec<Tensor>. Since the tensors eventually get converted into an Arc<Tensor>, it means each input tensor get copied once.

Of course this doesn't matter most of the time because the input is small enough, but we have a use case in which the inputs would be huge and reused between differents runs.

Therefore I was wondering if it is

[2022-10-24 17:57] kali commented on #842
I'm going to close this issue. Please re-open if there is a problem I can't see.

[2022-10-24 17:59] kali commented on #845
Please check out my comment over there https://github.com/Rikorose/DeepFilterNet/pull/13#issuecomment-1237262459

But we can discuss it. Even for the sake of making sure people stop freaking out about it ;)

[2022-10-27 14:18] VariantXYZ opened #852 "Supporting ARM64 CPUs on systems without /proc/cpuinfo"
Related to #847

(I just happened to hit this issue since /proc/cpuinfo didn't exist)

Right, the ability to provide a fallback implementation for unsupported targets.

https://docs.rs/getrandom/latest/getrandom/macro.register_custom_getrandom.html

I'm not a huge fan of it though, as it involves modifying the crate to add the fallback implementation for a platform.

The environment variable setup

[2022-10-27 14:34] kali commented on #852
tract strategy for cpu features is to build everything and use runtime detection to pick the right kernel just in time. If it is possible, I would prefer to keep it like that.

For runtime switch, I am pretty happy with the stdlib feature detection on x64. For arm64, [is_aarch64_feature_detected](https://doc.rust-lang.org/std/arch/macro.is_aarch64_feature_detected.html#) is available starting with

[2022-10-27 15:50] VariantXYZ commented on #852
Noted. I assumed tract's goal might've been to simplify targeting specific platforms, so I figured compile-time definitions would be ideal, but it's not a big deal. The overhead isn't generally noticeable and is_aarch64_feature_detected should be plenty.

I suppose a minor disadvantage would be some system register access isn't exposed (e.g. it's locked to EL0 and some registers are only available

[2022-10-27 16:29] kali commented on #852
Ok, I think we have a solution in sight:

1/ bump tract MSRV at the first occasion (in next batch of breaking changes)
2/ use stdlib feature detection (mostly for fp16 activation)
3/ use cpu part from /proc/cpuinfo where possible, with a fallback to the generic implementation
4/ keep the environment variable override alive

Is this correct / acceptable ?

[2022-10-27 16:37] VariantXYZ commented on #852
This works, though I think having some way to provide an implementation for a CPU (and maybe an example for adding one) would be helpful in the future.

[2022-10-28 07:25] VariantXYZ commented on #852
@kali ,

Actually, I tried building for cortex-a57 with the neon feature enabled (just happened to be the first out-of-order CPU that seemed close enough to cortex-a53/a55) and noticed that the generic 4x4 kernel for mmm does not do any SIMD operations (which would be a huge slowdown). My assumption is that it's because Rust's bounds checks are preventing LLVM from auto-vectorizing the generic imp

[2022-10-28 07:43] kali commented on #852
This is completely out-of-scope :)

I spent some time trying to make auto-vectorization work, but never managed it in Rust. There are some issues with fast math that are highly controversial (for good reasons). As long as Rust does not have a story there (a safe one), autovectorization of this kind of code can not work.

Anyway, I don't trust autovectorizer (and to some extent intrinsics-based cod

[2022-10-28 08:10] VariantXYZ commented on #852
Funny enough, after I posted that comment, I remembered I had a homebrewed Switch lying around (cortex-a57, woo) running Ubuntu and decided to running some samples. Building aarch64-unknown-linux-gnu with target-cpu=cortex-a57 and target-feature=+neon. A gprof of running resnet showed that it was spending some time in the generic 4x4 function. I suppose the fact that it's not falling back on arm64

[2022-10-28 08:17] kali commented on #852
Yes, please open a ticket for that. I may also put you and your Cortex-A57 to contribution by collecting sample performance points on the A57 to train the model responsible for picking the kernels, so... let's move this some place else :).

[2022-10-28 08:28] kali commented on #792
I'm gonna close this one. We do have pulsification for Einsum now. Feel free to open new tickets if/when you find issues :)

[2022-10-28 08:28] #792 closed

[2022-10-28 08:30] kali commented on #639
We do have a reasonable set of optimisation in place for binary Einsum at this stage. Not for the other cases, but they are  not so frequent, we will address them when/if we see evidence of usage.

[2022-10-28 08:30] #639 closed

[2022-10-28 14:39] VariantXYZ opened #854 "Aarch64 targets fall back on the GenericMmm4x4 kernel instead of arm64simd"
As per the discussion in #852 , the expectation is that tract should just rely on the ```arm64simd_mmm_f32_*_generic``` family, but in testing on a cortex-a57 device (Ubuntu 18.04, cortex-a57+simd, aarch64-unknown-linux-gnu) running the resnet example, a profile shows that it's spending a lot of time in the Generic 4x4 kernel.

I modified the KIND-selector to always return cortex-a53 out of curios

[2022-10-28 14:54] VariantXYZ commented on #854
Oh, it's because the generic blob ops.mmm that's set [here](https://github.com/sonos/tract/blob/662d51af704370640d546c9002738059682b3129/linalg/src/lib.rs#L103) is never actually overridden in [plug](https://github.com/sonos/tract/blob/main/linalg/src/arm64.rs#L142).

Unless I'm missing something else.

[2022-10-28 16:20] kali commented on #854
Yeah, that's definitely a bug. I'm patching to fallback to picking a _gen kernel with simple heuristics.

[2022-10-28 16:54] kali commented on #854
@VariantXYZ want to give the branch a shot ? See what it picks on the Cortex-A57 ?

[2022-10-28 18:41] VariantXYZ commented on #854
Looks like it correctly relies on the simd kernels with that change.

[2022-10-30 08:15] guillaume-be opened #856 "`Greater` does not support `TDim`"
Hello,

I am trying to run a model that was exported for ONNX-runtime via the [optimum](https://huggingface.co/hardware)'s library. I am specifically trying to load the models that are made available at https://huggingface.co/optimum/t5-small/tree/main:

[code]
returns:
[code]

I also tried to made the model `into_optimized`:
[code]
I then get the following error:
[code]

Is this model leveraging

[2022-10-30 15:40] kali commented on #856
Haha, thanks for the detailed test case! I think I should be able to make it work.

TDim is actually the problem here, but I know how to make it work. I will have a look.

[2022-10-31 12:00] kali commented on #856
Hello, I thought there may be a problem around Greater indeed... but your test case does not seem to reproduce it (tested on top of tree and on 0.18.3, with or without the into_optimized() call). Can you confirm it ?

[2022-10-31 12:27] guillaume-be commented on #856
Hello @kali ,
I confirm I am facing the issue with `tract-onnx=0.18.3` with the file downloaded from https://huggingface.co/optimum/t5-small/resolve/main/encoder_model.onnx. I just tried a fresh compilation of the project and still encounter the error.

[2022-10-31 14:07] Rikorose opened #857 "Error during einsum pack"
Relevant tract error:
[code]

Not sure what the issue is here, since similar models do work (same python code for onnx export, same rust code). [This model](https://github.com/sonos/tract/files/9901748/df24k.zip) also works when using the [tact cli](https://github.com/Rikorose/DeepFilterNet/blob/main/scripts/test_model_tract_cli.sh), but fails during `run()` when I call [from rust](https://github.

[2022-10-31 18:41] kali commented on #856
Yeah sorry, very stupid cut and paste mistake :)

[2022-11-01 11:54] kali commented on #856
Hello @guillaume-be, could you give a shot at the linked branch ? There was several smallish issues around type inference in the context of n-ary operators, but it seems to work now.

[2022-11-02 08:17] kali commented on #854
I think we can close this one. Please reopen if you feel otherwise.

[2022-11-02 08:17] #854 closed

[2022-11-02 14:12] kali commented on #857
Hello, I confirm I can reproduce the problem. The reason why it fails in code and works in command-line seems to be because you do not pass  `-O` in the cli call (so model is ran in decluttered form, not in optimised form).

Hunting down the root cause.

[2022-11-02 14:35] kali commented on #857
@Rikorose I think I have it...

[2022-11-02 16:36] #857 closed

[2022-11-03 14:16] guillaume-be commented on #856
Hello @kali,
Yes - it looks like it is now working on the main branch. thank you for the quick turnaround!

[2022-11-03 14:16] #856 closed

[2022-11-11 03:53] Rorical opened #874 "Tensor datum type error: tensor is F16, accessed as F32"
I was trying to run a model exported from PyTorch with float16.
When processing the InstanceNormalization node, I got an error:
[code]

The Inputs and Outputs of this node are both fp16, but its attribute `epsilon` must be fp32 according to its definition.

I couldn't figure it out, is it something related to the operations between fp16 and fp32 tensors?

[2022-11-11 08:32] kali commented on #874
It's most certainly a bug. Float 16 support is relatively recent, and it has not been heavily tested with float16 models (juste using tract fp32->fp16 conversion utilities). Can you share the onnx model with me so I can have a look ?

[2022-11-11 10:59] Rorical commented on #874
Yes, I uploaded it on my cloud: https://cloud.rorical.blue/s/DgCK
The test input size can be (1, 4, 64, 64)

Specifically, at this line
https://github.com/sonos/tract/blob/531ec1050cde2f523dda44e350d624a378df2228/onnx/src/ops/nn/instance_norm.rs#L71
it uses epsilon which is fp32 and vari which is fp16 in my model.
This error occurs at `eval_out_of_place` in the add operation, where `a.to_array_vie

[2022-11-11 12:29] kali commented on #874
Thanks for sharing the model! Can you give a try to the branch I just linked ? Tell me how it goes.

[2022-11-11 17:39] dhdaines opened #877 "jupyter-keras-tract-tf2: Error: Failed analyse for node #10 "Sigmoid" Sigmoid"
Following the instructions in `examples/jupyter-keras-tract-tf2/README.md` from the `main` branch, I get this error from `cargo run` after training the model with the Jupyter notebook:

[code]

Being a total beginner with tract I'm not sure where to look to solve the problem, let me know if there's any other information you need!

[2022-11-11 17:58] kali commented on #877
Try to remove line 9 in the example ? The with_input_fact call is probably the problem now (tract can now handle onnx symbolic shapes, so overriding the input shape is counter productive).

[2022-11-11 18:52] dhdaines commented on #877
Yes, that's exactly it, thanks!

[2022-11-12 00:41] Rorical commented on #874
Great work! This error is solved.

But there is another error occurred:
[code]

Probably line
https://github.com/sonos/tract/blob/main/core/src/ops/nn/softmax/mod.rs#L177
got a None value from `partial_cmp`, since it is called on an fp16 value.

[2022-11-12 14:13] #877 closed

[2022-11-12 18:30] kali commented on #874
Hello, I was unable to reproduce the bug, but pushed a possible fix on the same branch. Crossing my fingers hoping it's the last one :)

[2022-11-13 08:00] Rorical commented on #874
Yeah, that might be the last one, thanks for your excellent work!

[2022-11-13 08:00] #874 closed